// Boostrap Override
:root {
  --bs-body-bg: #F4F4F4;
  --bs-body-font-family: 'Montserrat', sans-serif;
}

// Colors
$primary-blue: #208EF4;
$light-blue: #dee9f4;
$text-color: #121212;
$off-white: #F4F4F4;

//Other
$section-spacing: 50px;
$scroll-margin: 80px;