#work {
  scroll-margin-top: $scroll-margin;
  z-index: 1;
  background: $light-blue;

  .heading {
    @include heading;
    padding-top: $section-spacing;
  }

  #filter-options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;

    p {
      @include body-text;
      cursor: pointer;
      transition: all .3s;

      &.active {
        color: $primary-blue;
      }

      &:hover {
        color: $primary-blue;
      }
    }
  }

  .all-work-container {
    margin-bottom: 30px;
  }

  .work-container:nth-child(even) {
    .mockup img {
      @include media-breakpoint-up(md) {
        float: right;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row-reverse;
    }
  }

  .work-container:last-child {
    .work-separator {
      display: none;
    }
  }

  #loading-indicator {
    display: none;
    text-align: center;
    position: relative;
    margin-left: 10px;
    height: 1.5rem;
    width: 1.5rem;

    .spinner-border {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  #see-more-work {
    @include button;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .container {
    background: $off-white;
    border-radius: 5px;
    padding-bottom: $section-spacing;
  }

  .work-separator {
    position: relative;
    height: 2px;
    overflow: hidden;
    margin: auto;
    background: $light-blue; /* Ensure this variable is defined or use a hex code */
  }

  .work-separator::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 4px;
    background-color: $primary-blue;
    display: none;
    opacity: 0;
    animation-fill-mode: forwards;

    @include media-breakpoint-down(md) {
      width: 150px;
    }
  }

  .work-separator.loading-work::before {
    display: block;
    animation: dash-animation 1s linear infinite, fadeInOut 1s linear forwards;
  }

  @keyframes dash-animation {
    from {
      left: -50px;
    }
    to {
      left: 100%;
    }
  }

  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  .mockup {
    img {
      width: 75%;
    }
  }

  .information {
    h3 {
      color: $text-color;
      font-weight: 700;
    }

    p.description {
      @include body-text;
    }

    p.technologies {
      color: $text-color;
      font-size: 14px;

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .button {
        @include button;
      }

      .github {
        width: 45px;
        display: block;
        padding: 5px;
        margin-left: 15px;
        border: 2px solid;
        border-radius: 100%;
        transition: all .3s;

        &:hover {
          background: $light-blue;
        }

        img {
          width: 100%;
        }
      }

      @include media-breakpoint-down(md) {
        justify-content: center;
      }
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}