.error404 {
  .error-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90vh;

    h1 {
      font-size: clamp(7.5rem, -1.7308rem + 25.641vw, 17.5rem);
      line-height: clamp(7.5rem, -1.7308rem + 25.641vw, 17.5rem);
      color: $primary-blue;
    }

    p {
      font-size: clamp(1rem, 0.6538rem + 0.9615vw, 1.375rem);
      color: $text-color;
    }

    .home-button {
      @include button;
      margin: auto;
    }
  }
}